<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.postgresql.mapper.MemberMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_member (member_email, member_password, member_name)
        values (#{memberEmail}, #{memberPassword}, #{memberName})
    </insert>
</mapper>