<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EX08</title>
</head>
<body>
<!-- form 태그의 method는 기본 값이 get 방식이라 생략 가능하다. -->
    <form action="/ex/ex09" method="get">
        <input type="checkbox" value="1" name="arData">1
        <input type="checkbox" value="2" name="arData">2
        <input type="checkbox" value="3" name="arData">3
<!-- button 태그의 type은 기본 값이 submit, 따라서 생략 가능하다. -->
        <button type="submit">완료</button>
    </form>
</body>
</html>